$white: #fff
$blue1: #3e8fc3
$font-color: #222222

$screen: "only screen" !default

$small-range: 769px
$tablet-breakpoint: "#{$screen} and (min-width:#{$small-range})" !default

$smaller-range: 321px
$mobile-breakpoint: "#{$screen} and (min-width:#{$smaller-range})" !default
