.timeline__container
  min-height: 1000px
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: row


.timeline__side-profile
  width: 22%
  margin-right: 3%
  background-color: $white
.timeline__tweets
  width: 50%
  background-color: $white
